@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./torph-0.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./torph-1.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./torph-2.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./torph-3.ttf) format('truetype');
}
@font-face {
  font-family: 'SN Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./torph-4.ttf) format('truetype');
}
@font-face {
  font-family: 'SN Pro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./torph-5.ttf) format('truetype');
}
@font-face {
  font-family: 'SN Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./torph-6.ttf) format('truetype');
}
@font-face {
  font-family: 'SN Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./torph-7.ttf) format('truetype');
}
