.container {
  position: relative;
  padding: 6rem 2rem;
  font-family: var(--font-secondary);
  font-size: 2.5rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  background: var(--body-light);
}

.output {
  font-size: 3rem;
  text-align: center;
}

.input {
  position: relative;

  input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-family: var(--font-secondary);
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff;
    border-radius: 0.5rem;
    border: 1px solid #363636;
  }
}
